header {
    text-align: center;
}

footer {
    text-align: center;
}

.userInput {
    text-align: center;
}

#list {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 650px;

}

button {
    margin: 20px;
}